<!DOCTYPE html>
<html lang="es">

<head>
	<title>Grupo F</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body id="cielo">
	<header>
		<h1 class="clarito">PROYECTO MINTIC UNINORTE - Grupo F</h1>
	</header>

	{% if mensajito %}
	<h1 class="clarito">{{ mensajito }}</h1>
	{% else %}
	<h1 class="clarito">¿Entró sin loguearse? Tan raro</h1>
	{% endif %}

	<div class="container">
		<nav class="menu">
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/crear/">Crear/Actualizar</a></li>
				<li><a href="/login/">Login</a></li>
			</ul>
		</nav>
	</div>
	<section>
		<input type="search" name="busqueda" id="busqueda" placeholder="Buscar imagen..." style="width: auto;">
		<table border="0" style="width: 100%;">
			<tr>
				<td> <a href="/visualizar/1"><img src="{{ url_for('static', filename='images/image1.jpg')}}" alt="Ojito" height="450"></a> </td>
				<td> <a href="/visualizar/2"><img src="{{ url_for('static', filename='images/image2.jpg')}}" alt="Ojito" height="450"></a> </td>
				<td> <a href="/visualizar/3"><img src="{{ url_for('static', filename='images/image3.jpg')}}" alt="Ojito" height="450"></a> </td>
				<td> <a href="/visualizar/4"><img src="{{ url_for('static', filename='images/image4.jpg')}}" alt="Ojito" height="450"></a> </td>
			</tr>
		</table>
	</section>
	<footer>
		<h4>PROYECTO MINTIC- UNINORTE</h4>
		<h4>GERMÁN ALBERTO SÁNCHEZ, VÍCTOR MANUEL ESCOBAR, NANCY PAOLA SÁNCHEZ, DAVID ESTEBAN ARIAS PARRA</h4>
		<p>Copyright 2020 todos los derechos reservados.</p>
	</footer>
</body>

</html>