<!DOCTYPE html>
<html lang="es">

<head>
      <title>Inicio de sesión</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>

      <meta charset="utf-8">
</head>

<body style="background-image: url('/static/images/cielo.jpg'); background-size: cover;">
      <h1 class="login">INICIO DE SESIÓN</h1>
      <br>

      
            <form action="/login/" method="POST" id="formulario" onsubmit="return validar_formulario(1);">
                  <img src="{{ url_for('static', filename='images/usuario.png') }}" class="logos">
                  <br>
                  <input type="text" name="usuario" placeholder="Username" id="usuario">
                  <br>
                  <div id="input_container">
                        <input type="password" name="clave" placeholder="Password" id="clave">
                        <img src="{{ url_for('static', filename='images/visible.ico') }}" id="input_img"
                              onmouseover="mostrarContrasena()" onmouseout="ocultarContraseña()">
                  </div>
                  <br>
                  <input type="submit" name="Ingresar" class="btn" value="Ingresar">
                  <br>

                  <!-- acá miramos si hay algún mensaje para mostrarle al usuario -->
                  {% for message in get_flashed_messages() %}
                  <div style="margin: 10px; font-size: large; color:red;">{{ message }}</div>
                  {% endfor %}

                  <div style="margin: 10px; font-size: large;">
                        <label>¿Olvidó su clave? </label><a href="/recuperarClave/">Click aquí</a>
                  </div>
                  <div style="margin: 10px; font-size: large;">
                        <label>¿Aún no se ha registrado? </label><a href="/registro/">Click aquí</a>
                  </div>

            </form>
      

      <footer>
            <h4>PROYECTO MINTIC- UNINORTE - Grupo F</h4>
            <h4>GERMÁN ALBERTO SÁNCHEZ, VÍCTOR MANUEL ESCOBAR, NANCY PAOLA SÁNCHEZ, DAVID ESTEBAN ARIAS PARRA</h4>
            <p>Copyright 2020 todos los derechos reservados.</p>
      </footer>
</body>

</html>